@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {}
@layer components {

    .btn-blue {
        @apply ;
    }
    .categoryButton {
        @apply basis-[45%] h-12   md:h-24 rounded-lg text-gray-300 bg-darkblue2 flex items-center  cursor-pointer my-3 mx-[2.5%] md:basis-[30%] md:mx-[1.5%] lg:basis-[22%] lg:mx-[1.2%] border-solid border-2 border-gray-800 hover:bg-gray-800;
    }
    .buttonTitle{
        @apply font-medium font-poppins text-xs md:text-lg leading-5
    }
    .buttonVerMas{
        @apply hidden text-sm font-montserrat underline lg:block
    }
    .decorationSquare{
        @apply w-6 h-6 md:w-12 md:h-12 rounded-lg mx-2 md:mx-3 bg-gray-500
    }
    .tituloRandomMovie{
        @apply hidden sm:block bottom-0 text-gray-200 font-poppins font-semibold text-xl text-right leading-5 
    }
    
    .imgRandomMovieContainer{
        @apply h-full  relative before:absolute before:w-full before:h-1/2 before:top-1/2 before:bg-gradient-to-b before:from-transparent before:to-black before:opacity-95;
    }
    .movieContainer{
        @apply h-[144px] w-[96px] sm:min-w-[150px] sm:min-h-[200px] lg:min-w-[200px] lg:min-h-[300px] lg:max-w-[250px]  bg-gray-300 cursor-pointer relative my-5 mx-2  rounded-md overflow-hidden flex-grow 
        after:absolute after:w-full after:h-full after:top-0 after:bg-gradient-to-t after:from-transparent after:to-transparent 
        shrink-0
        /* max-width: 200px; */
    }
    .favButton{
        @apply absolute top-2 sm:pt-0 right-2 bg-gray-200 text-red-600 w-8 h-8 sm:w-10 sm:h-10 text-xl sm:text-2xl sm:leading-10 pt-1 text-center rounded-full z-30 
    }
    .spanSquare{
        @apply h-7 mr-1 mt-1 px-2 py-1 rounded-md text-sm font-poppins font-normal bg-gray-800 text-gray-300
    }
    
    .imbdSpan{
        @apply text-gray-900 w-20 bg-yellow-400  font-bold my-2
    }
    .movieHeader{
        @apply absolute flex flex-col bottom-2 right-3 items-end 
    }
    .searchResultArticle{
        @apply relative border-solid border-gray-800 border-2 bg-darkblue2 rounded-lg overflow-hidden  flex flex-row basis-44 w-11/12 mb-3 after:absolute after:w-full after:h-full  after:top-0 lg:basis-96 after:bg-gradient-to-t after:from-transparent after:to-transparent lg:mx-4 h-44;
        max-width: 500px;
    }
    #searchInput{
        @apply  focus:outline-gray-700 outline-1 focus:bg-slate-600 focus:bg-opacity-20 text-gray-200 font-montserrat
    }
    .searchInputView{
        @apply lg:!relative lg:!mx-auto lg:!left-0
    }
    .imgResultContainer{
        @apply w-2/5 flex items-center h-full bg-black;
        max-width: 145px;
    }
    
    .imgResult{
        @apply min-h-full object-cover
    }
    .descriptionResultContainer{
        @apply  flex flex-col items-start px-4 py-3
    }
    .searchResultSubtitle{
        @apply font-montserrat text-sm my-2 text-gray-200
    }
    .featuresOfResult{
        @apply flex flex-row flex-wrap
    }
    .scroll-fix::-webkit-scrollbar{
        display: none;
    }
    .scroll-fix{
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
    }
    .sectionTitle{
        @apply text-white font-poppins font-semibold text-2xl px-5
    }
    .buttonMoveLeft{
        @apply hidden absolute bottom-0 left-0 h-5/6 w-20 bg-gradient-to-l from-transparent to-darkblue;
    }
    .buttonMoveRight{
        @apply hidden sm:block absolute bottom-0 h-5/6 right-0 w-20 bg-gradient-to-r from-transparent to-darkblue;
    }
    .noLove{
        @apply h-[144px] sm:min-h-[200px] text-xl  lg:min-h-[300px] w-full bg-darkblue2 rounded-md md:text-3xl font-thin font-montserrat justify-center text-center sm:leading-[200px] mx-auto shadow-lg leading-10 flex items-center
    }
    
}

@layer utilities {
}